.challenge_Play_container_P2G6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.instr_P2_G6h5 {
  margin-top: 2vh;
  color: #fff;
  text-align: center;
  -webkit-text-stroke-color: #295877;
  font-family: Gilroy;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.videoContainer_P2G6 {
  position: relative;
  margin-top: 2vh;
}
.vdo_cont_P2G6{
  width: 90vw;
  height: 48vh;
}

.video_P2G6 {
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 94%;
  height: 80.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.play-button_P2G6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
