.canva_option_G6h5{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap:5vw;
    margin-top: 4vh;
}
.brush_Sizes_G6h5{
    position: absolute;
    top:-110%;
    left: -10%;
}