.color_pallet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2vw;
  margin-top: 4vh;
  padding: 10px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
}
