.wordSelectionPage_G6h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}

.delulu_logo_main {
  /* margin-top: 1vh; */
  height: 12vh;
}
.WSP_head_G6h5 {
  width: 70vw;
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: #295877;
  font-family: Gilroy;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 1vh;
}

.picking_contn_G6h5 {
  margin: 2vh;
  position: relative;
  height: 54.5vh;
  width: 85vw;
}

.box_G6h5 {
  height: 54.5vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.picking_contn_G6h5 > div {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
}

.picking_contn_G6h5 > div > span {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-color: #23243c;
  font-family: Gilroy;
  font-size: 2.9vh;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  display: block;
  width: 80vw;
  margin-top: 5.6vh;
}

.word-image-wrapper {
  position: relative;
  margin: 1.5vh auto;
}

.word-image {
  width: 86%;
}

.word-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: #0d7d70;
  font-family: Gilroy;
  font-size: 3.3vh;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.new_option_btn_G6h5{
  margin-top: 2.5vh;
  width: 68%;
}

.startbtn_G6h5 {
  margin-top: 3vh;
  width: 35vw;
}
